---
layout: default
title: Vikas Reddy
---

{% assign projects = site.data.research-project.project %}
{% assign news = site.data.news.list %}

{% assign publications = site.data.publication.publication %}

<script>
    $(document).ready(function() {
        $("[rel='tooltip'], .tooltip").tooltip();
    });
</script>

<div class="container py-3">
    <div class="row">
        <div class="col-12 col-md-4 mb-4 mb-md-0 pr-md-0">
            <div class="sticky-top">
            <img src="{{ '/assets/images/main/avatar-modified.png' | relative_url }}" alt="Profile image of Vikas Reddy" class="pt-3" style="height: auto; width: 60% !important; display: block; margin-left: auto; margin-right: auto;">

            <p style="font-weight: 300 !important" class="pt-4">
                I am a first-year Master's student in the Department of Computer Science at <a href="https://www.jhu.edu/">Johns Hopkins University</a>. I am currently based in Baltimore, Maryland but also frequently visit my home in Tokyo, Japan. I speak four languages, including French and Japanese, and love traveling whenever I get the chance.  
                <br><br>
                My research interests focus on Machine Learning, Data Science, and Computational Social Science. I completed my undergraduate degree at the <a href="https://www.cs.umd.edu/">University of Maryland, College Park</a>, where I worked with Prof. Giovanni Luca Ciampaglia to study news reliability on Bluesky Social Media.  
            </p>
            
            <p class="mb-0">
                <a href="#" class="cryptedmail"
                    data-name="vkasire2"
                    data-domain="jhu"
                    data-tld="edu"
                    onclick="window.location.href = 'mailto:' + this.dataset.name + '@' + this.dataset.domain + '.' + this.dataset.tld; return false;">
                    <i class="fa-solid fa-envelope" style="margin-right: .3rem;"></i>
                </a>

            </p>
            <p class="mb-0">
                <a href="https://scholar.google.com/citations?user=w49k3AgAAAAJ&hl=en"><i class="fa-brands fa-google" style="margin-right: .4rem;"></i>Google Scholar</a>
            </p>
            <p class="mb-0">
                <a href="https://www.linkedin.com/in/vikasreddy85/"><i class="fa-brands fa-linkedin" style="margin-right: .6rem;"></i>LinkedIn</a>
            </p>
            <p class="mb-0">
                <a href="https://github.com/vikasreddy85"><i class="fa-brands fa-github" style="margin-right: .6rem;"></i>Github</a>
            </p>
            </div>
        </div>
        <div class="col-12 col-md-8">
            <div class="container pt-2 px-0 px-md-3">
                <p style="font-weight: 500 !important; text-transform: uppercase;">Featured Projects</p>
                <div class="row mt-4">
                    <!-- Iterate over selected projects -->
                    {% assign selected_projects = projects | slice: 0, 2 %}
                    {% for project in selected_projects %}
                    <div class="col-12 col-md-6 mb-2"> 
                        <div class="row align-items-center">
                            <div class="col-5">
                                <a href="{{ project.link }}">
                                    <img 
                                        rel="tooltip" 
                                        data-placement="bottom" 
                                        title="{{ project.image_tooltip | default: '' }}" 
                                        src="{{ '/assets/images/research_project/' | append: project.image | relative_url }}" 
                                        alt="{{ project.alt }}" 
                                        style="height: auto; width: 100%; border-radius: 8px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
                                </a>
                                
                            </div>      
                            
                            <!-- Content Section -->
                            <div class="col-7 px-0">
                                <div style="line-height: 1.3 !important;" class="mb-3">
                                    <a href="{{ project.link }}"
                                       style="font-size: 1rem; font-weight: 600; color: #0056b3; text-decoration: none;">
                                       {{ project.title }}
                                    </a>
                                </div>
                                <p style="font-size: 0.9rem; font-weight: 400; color: #555;">
                                    {{ project.short_content | default: project.content }}
                                </p>
                                {% if project.custom_title %}
                                <p style="font-size: 0.85rem; font-weight: 400; font-style: italic; color: #777;">
                                    {{ project.custom_title }}
                                </p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                
                <div class="d-flex flex-row-reverse mt-4">
                    <a href="{{ 'project' | relative_url }}" style="font-size: .95rem; font-weight: 500 !important;">> View All</a>
                </div>
            </div>
            <div class="container pb-3 px-0 px-md-3">
                <p style="font-weight: 500 !important; text-transform: uppercase;">Publication</p>
                <div class="row mt-4">
                    {% for pub in publications limit: 1 %}
                    <div class="col-12">
                        <p class="mb-1" style="font-size: 1rem; font-weight: 400 !important;">{{ pub.title }}</p>
                        <p class="mb-1" style="font-size: .95rem; font-weight: 200 !important;">{% for author in pub.authors %}{% if author == "Ruoxi Shang" %}<b>{{ author }}</b>{% else %}{{ author }}{% endif %}{% unless forloop.last %}, {% endunless %}{% endfor %}</p>
                        <p class="mb-1" style="font-size: .95rem; font-weight: 300 !important;">{{ pub.venue_short }}{%if pub.venue_long %}: {{ pub.venue_long }}{% endif %}</p>
                        {% if pub.award %}
                        <p class="mb-1" style="font-size: .95rem; font-weight: 300 !important;"><i class="fa-solid fa-medal"></i>&nbsp;&nbsp;{{ pub.award }}</p>
                        {% endif %}
                        <p style="font-size: .9rem; font-weight: 300 !important;">
                            {% if pub.pdf %}
                            <a href="{{ '/assets/pdf/publications/' | append: pub.pdf | relative_url }}"><i class="fa-solid fa-file"></i>&nbsp;&nbsp;PDF</a>&nbsp;&nbsp;&nbsp;&nbsp;
                            {% endif %}
                            {% if pub.arxiv %}
                            <a href="{{ pub.arxiv }}"><i class="fa-solid fa-archive"></i>&nbsp;&nbsp;arXiv</a>&nbsp;&nbsp;&nbsp;&nbsp;
                            {% endif %}
                            {% if pub.github %}
                            <a href="{{ pub.github }}"><i class="fa-brands fa-github"></i>&nbsp;&nbsp;GitHub</a>&nbsp;&nbsp;&nbsp;&nbsp;
                            {% endif %}
                            {% if pub.video %}
                            <a href="{{ pub.video }}"><i class="fa-solid fa-play"></i>&nbsp;&nbsp;Video</a>&nbsp;&nbsp;&nbsp;&nbsp;
                            {% endif %}
                            {% if pub.slides %}
                            <a href="{{ pub.slides }}"><i class="fa-solid fa-file-powerpoint"></i>&nbsp;&nbsp;Slides</a>&nbsp;&nbsp;&nbsp;&nbsp;
                            {% if pub.api %}
                            <a href="{{ pub.api }}"><i class="fa-solid fa-code"></i>&nbsp;&nbsp;API</a>&nbsp;&nbsp;&nbsp;&nbsp;
                            {% endif %}
                            {% if pub.website %}
                            <a href="{{ pub.website }}"><i class="fa-solid fa-globe"></i>&nbsp;&nbsp;Website</a>&nbsp;&nbsp;&nbsp;&nbsp;
                            {% endif %}
                            
                            {% endif %}
                        </p>
                        {% unless forloop.last %}
                        <hr>
                        {% endunless %}
                    </div>
                    {% endfor %}
                </div>
                <!-- <div class="d-flex flex-row-reverse mt-4">
                    <a href="{{ 'publication' | relative_url }}" style="font-size: .95rem; font-weight: 500 !important;">> View All</a>
                </div> -->
            </div>
            <div class="container pb-3 px-0 px-md-3">
                <p style="font-weight: 500 !important; text-transform: uppercase;">News</p>
                <div class="row mt-4">
                    {% for new in news limit: 3 %}
                    <div class="col-12">
                        <p class="mb-0" style="font-size: 1rem; font-weight: 400 !important;">{{ new.title }}</p>
                        <p class="mb-1" style="font-size: .85rem; font-weight: 200 !important;">{{ new.date }}</p>
                        <p style="font-size: .95rem; font-weight: 300 !important;">{{ new.description }}</p>
                        
                        {% unless forloop.last %}
                        <hr>
                        {% endunless %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<style>
.cryptedmail:after {
    content: attr(data-name) "@" attr(data-domain) "." attr(data-tld); 
}
.tooltip{
   font-size: .75rem;
}
</style>
